.evaluation-container {
    display: flex;
    flex-direction: column;
    background-color: #0f172a;
    color: #cbd5e1;
    padding: 20px;
    /* max-width: 600px; */
    margin: auto;
    height: 90vh;
    /* width: 100vw; */
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #cbd5e1;
}

.evaluation-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #1e293b;
    padding: 20px;
    border-radius: 10px;
}

.evaluation-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.evaluation-label {
    width: 150px;
    text-align: right;
    color: #cbd5e1;
}

.evaluation-input,
.evaluation-textarea {
    flex-grow: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #334155;
    background-color: #0f172a;
    color: #cbd5e1;
    outline: none;
}

.evaluation-textarea {
    height: 100px;
}

.button-container {
    display: flex;
    gap: 10px;
}

.status-button {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

.accept-button {
    background-color: #2563eb;
}

.reject-button {
    background-color: #1e293b;
    border: 1px solid #2563eb;
}
